<h1>Reddit</h1>
<a href='/new/'/>Create SubReddit</a>

<div class="subreddit-container">
<% @subreddits.each do |subreddit| %>
<h2><%= subreddit.title %></h2>
</br>
<%end%>
</div>

<!-- 	<form action="/posts/<%=post.id%>/edit" method="post">
	<input type="submit" name="up_vote" value="edit post" />
	</form> -->

<!-- 	<form action="/posts/<%=post.id%>/delete" method="post">
	<input type="submit" name="delete post" value="delete" />
	</form> -->

<!-- 	<form action="/posts/<%=post.id%>/upvote" method="post">
	<input type="submit" name="up_vote" value="LOVE IT: <%=post.up_votes%>" />
	</form> -->

<!-- 	<form action="/posts/<%=post.id%>/downvote" method="post">
	<input type="submit" name="down_votes" value="HATE IT: <%=post.down_votes%>" />
	</form> -->

<!-- 
	</form>

	
</div> -->